
groq
streamlit==1.31.0
langchain==0.3.23  # Upgraded to a version compatible with langchain-groq
langchain-groq==0.3.2  # Compatible version
langchain-community>=0.0.17
pypdf2==3.0.1
faiss-cpu==1.7.4
pandas==2.1.4
python-dotenv==1.0.0
matplotlib==3.8.2
langchain-huggingface

